.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  &WalkRule {
    height: 30px;
  }

  &Warnings {
    margin-top: 12px;
    min-height: 30px;
    font-size: medium;
  }

  &Header {
    &InningControls {
      float: right;
      font-size: xx-small;
      margin-left: 12px;
    }

    &Title {
      font-size: xx-large;
      float: left;
    }
  }

  &Counts {
    text-align: left;
    padding: 8px;
    display: table;

    &LabelColumn {
      margin-right: 16px;
      display: table-column;
      float: left;
      line-height: 38px;
    }

    &CountColumn {
      display: table-column;
      float: right;
    }
  }

  &Scores {
    padding-left: 44px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: table;

    &Home {
      font-size: xxx-large;
      width: 60px;
      float: left;
      background: rgba(16, 16, 187, 0.84);
      display: table-column;

      &Update {
        float: left;
        display: table-column;
      }
    }
    &Away {
      font-size: xxx-large;
      width: 60px;
      float: left;
      background: #810000;
      display: table-column;

      &Update {
        display: table-column;
        float: left;
      }
    }
    &Headers {
      font-size: large;
      font-weight: bold;
      &Each {
        margin: 4px 8px 0 28px;
        float: left;
      }
    }
  }
  &Buttons {
    &One {
      margin: 4px;
      float: left;
    }
  }

  &Bases {
    margin: 24px;
    display: table;
    transform: rotate(45deg);
    border: 1px solid white;

    &Icon {
      -webkit-transform: scaleX(-1) rotate(45deg);
      transform: scaleX(-1) rotate(45deg);
    }

    &Row {
      display: table-row;
      width: auto;
      clear: both;
    }
    &First {
      width: 40px;
      height: 40px;
      float: left; /* fix for  buggy browsers */
      display: table-column;
      margin: 1px;
      background: white;
    }
    &Second {
      width: 40px;
      height: 40px;
      float: left; /* fix for  buggy browsers */
      display: table-column;
      margin: 1px;
      background: white;
    }
    &Third {
      width: 40px;
      height: 40px;
      float: left; /* fix for  buggy browsers */
      display: table-column;
      margin: 1px;
      background: white;
    }
    &Home {
      width: 40px;
      height: 40px;
      float: left; /* fix for  buggy browsers */
      display: table-column;
      margin: 1px;
      background: #282c34;

    }
  }
}

@font-face {
  font-family: 'Digital7Mono';
  src: local('Digital7Mono-Yz9J4'),
  url(./assets/digital-7-font/Digital7Mono-Yz9J4.ttf)
  format('truetype')
}

