.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  &Header {
    font-size: xx-large;
  }

  &Counts {
    text-align: left;
    padding: 8px;
   }

  &Scores {
    padding: 8px;
    &Home {
      font-size: xxx-large;
      width: 60px;
      float: left;
      background: blue;
      &Update {
        float: left;
      }
    }
    &Away {
      font-size: xxx-large;
      width: 60px;
      float: right;
      background: red;
      &Update {
        float: right;
      }
    }
    &Headers {
      font-size: large;
      font-weight: bold;
      &Each {
        margin: 4px;
        margin-right: 8px;
        margin-left: 28px;
        float: left;
      }
    }
  }
  &Button {
    &One {
      margin: 4px;
    }
  }

  &Bases {
    margin: 24px;
    display: table;
    transform: rotate(45deg);
    border: 1px white;
    border-style: solid;
    &Row {
      display: table-row;
      width: auto;
      clear: both;
    }
    &First {
      width: 40px;
      height: 40px;
      background: white;
      float: left; /* fix for  buggy browsers */
      display: table-column;
      margin: 1px;
    }
    &Second {
      width: 40px;
      height: 40px;
      background: white;
      float: left; /* fix for  buggy browsers */
      display: table-column;
      margin: 1px;
    }
    &Third {
      width: 40px;
      height: 40px;
      background: white;
      float: left; /* fix for  buggy browsers */
      display: table-column;
      margin: 1px;
    }
    &Home {
      width: 40px;
      height: 40px;
      float: left; /* fix for  buggy browsers */
      display: table-column;
      margin: 1px;

    }
  }
}

